page-login {
    ion-content{
        background: transparent !important;
        // background-image: url('../assets/imgs/login_bg.jpg');
        // background-repeat: no-repeat;
        // background-size: 120% auto
    }

    .scroll-content {
        padding-left: 10% !important;
        padding-right: 10% !important;
        // padding-top: 45% !important;
    }

    .item-md,
    .item-ios {
        color: #feb913;
    }

    #my-main {
        width: 100%;
        height: 100%;
        padding-top: 45%;
    }

    ion-list ion-item {
        height: 5.5rem;
        background: rgba(0, 0, 0, .3) !important;
        .lable-text {
            color: #feb913;
        }
    }

    // input 前面的icon（img）大小
    ion-item img{
        width: 7%;
    }

    .btn-login {
        font-size: 1.7rem;
        height: 4.8rem;
    }
    
    ion-grid {
        padding: 0;
    }
    ion-col button {
        margin-left: -4%;
        margin-right: -4%;
        font-size: 1.7rem;
        color: #feb913;
        background: transparent
    }

    .reset {
        text-align: left;
    }   
    .regist {
        text-align: right;
    }

}
