<!--<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>-->


<ion-content padding>

  <div id="my-main" [hidden]="formHidden">

    <form #myForm="ngForm" novalidate>

        <ion-list no-lines>

          <ion-item>
            <img item-left src="assets/imgs/icon_phone.png">
            <ion-label><span class="lable-text">手机号码</span></ion-label>
            <ion-input required type="tel"
              minlength=11 maxlength=11 
              [(ngModel)]="user.phoneNumber" 
              name="phoneNumber" #phoneNumber="ngModel" clearInput></ion-input>
          </ion-item>

          <br>

          <ion-item style="border-bottom: 0">
            <img item-left src="assets/imgs/icon_password.png">
            <ion-label><span class="lable-text">登录密码</span></ion-label>
            <ion-input type="password" required 
              minlength=6 maxlength=21
              [(ngModel)]="user.password"
              name="password" clearInput></ion-input>
          </ion-item>

        </ion-list>

        <div>
          <button *ngIf="!isLoginning" class="btn-login" ion-button block color="theam-yellow" 
            [disabled]="!myForm.form.valid"
            (click)="login()">
            <span style="color: black;">登录</span>
          </button>

          <button *ngIf="isLoginning" class="btn-login" ion-button block color="theam-yellow" 
            [disabled]="true">
            <span style="color: black;">登录</span>
          </button>

        </div>

    </form>


    <br>

    <ion-grid>
      <ion-row>
        <ion-col width-50 class="reset">
          <button (click)="resetPassword()">忘记密码</button>
        </ion-col>
        <ion-col width-50 class="regist">
          <button (click)="createAccount()">注册账户</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>
