<!--
  Generated template for the Regist page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar>
    <!--<ion-title></ion-title>-->
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!--<button ion-button (click)="dismissSelf()">关闭</button>-->
  <div id="my-main">
    <form #myForm="ngForm">

      <ion-list no-lines>
        <ion-item>
          <img item-left src="assets/imgs/icon_phone.png">
          <ion-label for="phoneNumber"><span class="lable-text">手机号码</span></ion-label>
          <ion-input required type="tel"
            minlength=11 maxlength=11 
            [(ngModel)]="user.phoneNumber" 
            name="phoneNumber" #phoneNumber="ngModel" clearInput></ion-input>
        </ion-item>

        <br>

        <ion-item>
          <ion-input type="text" required
            minlength=6 maxlength=6
            [(ngModel)]="user.captcha"
            name="captcha" clearInput></ion-input>
          <button ion-button class="btnCaptcha" *ngIf="showCaptchaBtn" item-right [disabled]="!phoneNumber.valid" (click)="getCaptcha(user)">获取验证码</button>
          <button ion-button class="btnCaptcha" *ngIf="!showCaptchaBtn" item-right [disabled]="!showCaptchaBtn">已发送({{countDown}})</button>
        </ion-item>

        <br>

        <ion-item style="border: 0">
          <img item-left src="assets/imgs/icon_password.png">
          <ion-label><span class="lable-text">登录密码</span></ion-label>
          <ion-input type="password" required 
            minlength=6 maxlength=21
            placeholder="至少6位"
            [(ngModel)]="user.password"
            name="password" clearInput></ion-input>
        </ion-item>
      </ion-list>

      <div>
        <button *ngIf="!isLoginning" class="btn-login" ion-button block color="theam-yellow" [disabled]="!myForm.form.valid" (click)="createUser(user)">
          <span style="color: black;">注册</span>
        </button>
        <button *ngIf="isLoginning" class="btn-login" ion-button block color="theam-yellow" [disabled]="true">
          <span style="color: black;">注册</span>
        </button>
      </div>

    </form>
  </div>

</ion-content>
