<ion-header no-border>

  <ion-navbar color="danger">
    <ion-title>历史记录</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher no-lines (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉刷新"
      refreshingSpinner="circles"
      refreshingText="加载中...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list><!-- no-lines -->
    <div *ngFor="let record of sqliteSvc.appRecords; let i = index" (click)="openDetail(record)">
      <ion-item-divider *ngIf="sqliteSvc.appRecords[i - 1] ? record.month !== sqliteSvc.appRecords[i-1].month : true" no-lines>{{record.month}}</ion-item-divider> <!-- color="transparent" -->
      <button ion-item><!-- color="transparent" -->
        <!--<ion-avatar item-left>
          <img src="{{'assets/imgs/sport_type_' + record.sportType + '.png'}}">
        </ion-avatar>-->
        <!--<h3>{{record.showTitleTime}}</h3>-->
        <h2>{{record.showTitleTime}}</h2>
        <p>{{record.sportTime}}</p>
        <!--<h2><span style="font-size: 20px">{{record.distance}}</span>公里 &nbsp;&nbsp; {{record.sportTime}} &nbsp;&nbsp; {{record.pace}}</h2>-->
      </button>
      <div class="ble-title-devider"></div>
    </div>
  </ion-list>
  
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="正在加载更多数据...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
