hr-plus {
.heart-rate {
  ion-item{
    padding: 0;
  }

  svg {
    width: 110%;
    height: 10rem;
  }

    text-align: center;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    width: 47vw;
    height: 47vw;
    position: absolute;
    margin: 4vw auto;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 150px;
}

.fade-in {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 1);
    top: 0;
    right: 0;
    animation: heartRateIn 2.5s linear infinite;
}

.fade-out {
  position: absolute;
  width: 120%;
  height: 100%;
  top: 0;
  left: -120%;
  animation: heartRateOut 2.5s linear infinite;
  background: rgba(0,0,0, 1);
  background: -moz-linear-gradient(left, rgba(0,0,0, 1) 0%, rgba(0,0,0, 1) 50%, rgba(0,0,0, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0, 1) 0%, rgba(0,0,0, 1) 50%, rgba(0,0,0, 0) 100%);
  background: -o-linear-gradient(left, rgba(0,0,0, 1) 0%, rgba(0,0,0, 1) 50%, rgba(0,0,0, 0) 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0, 1) 0%, rgba(0,0,0, 1) 50%, rgba(0,0,0, 0) 100%);
  background: linear-gradient(to right, rgba(0,0,0, 1) 0%, rgba(0,0,0, 1) 80%, rgba(0,0,0, 0) 100%);
}

@keyframes heartRateIn {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes heartRateOut {
  0% {
    left: -120%;
  }
  30% {
    left: -120%;
  }
  100% {
    left: 0;
  }
}
}
