<ion-header no-border>
  <ion-navbar color="danger">
    <ion-title>设备列表</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-fab right top>
    <button (click)="startScan()"
    *ngIf="!ble.isScanning" ion-fab color="danger">扫描</button>

    <button [disabled]="true" (click)="startScan()" *ngIf="ble.isScanning" ion-fab color="danger">
      <ion-spinner name="bubbles" color="light"></ion-spinner>
    </button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let device of ble.listDevices" (click)="selectDecice(device)">
      <h2>{{device.name}}</h2>
      <p>{{device.mac}} &nbsp; RSSI: {{device.rssi}}</p>
      <ion-icon name="md-arrow-dropright" item-right></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>