<ion-tabs> <!--selectedIndex="1"-->
  <ion-tab [root]="tab1Root" tabTitle="监测" tabIcon="pulse"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="历史" tabIcon="time" > </ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="设置" tabIcon="settings"></ion-tab>
  <!--<ion-tab [root]="tab4Root" tabTitle="dev" tabIcon="bug"></ion-tab>-->
</ion-tabs>