page-forget-password {
    ion-content{
        background: transparent !important;
        // background-image: url('../assets/imgs/login_bg.jpg');
        // background-repeat: no-repeat;
        // background-size: 120% auto
    }

    .scroll-content {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }

    .bar-button-default-md,
    .bar-button-default-ios {
        color: #feb913;
    }

    // input item font-color
    .item-md,
    .item-ios {
        color: #feb913
    }

    /* toolbar 透明 */
    .toolbar-background-md,
    .toolbar-background-ios{
        background: transparent
    }

    #my-main {
        width: 100%;
        height: 100%;
        padding-top: 25%;
    }

    ion-list ion-item {
        height: 5.5rem;
        background: rgba(0, 0, 0, .3) !important;
        .lable-text {
            color: #feb913;
        }
    }
    
    // input 前面icon img 大小
    ion-item img {
        width: 7%;
    }

    .btnCaptcha {
        width: 10rem !important;
        border-left: 1px #feb913 solid;
        color: #feb913;
        background: transparent;
        font-size: 1.5rem;
    }

    .btn-login {
        font-size: 1.7rem;
        height: 4.8rem;
    }

}