<ion-header no-border>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 <ion-item> 
    <ion-label>
      <h2>start time</h2>
      <p>{{data.startTime}}</p>
    </ion-label>
    <ion-label>
      <h2>total time</h2>
      <p>{{data.totalTime}}</p>
    </ion-label>
  </ion-item>
  <ion-item> 
    <ion-label>
      <h2>Mean SpO2</h2>
      <p>{{data.average_spo2}}</p>
    </ion-label>
    <ion-label>
      <h2>Mean Dip SpO2</h2>
      <p>{{data.min_spo2}} at {{data.min_spo2_time}}</p>
    </ion-label>
  </ion-item>
    <ion-grid>
      <ion-label>
        <h3>SpO2</h3>
      </ion-label>
      <ion-row>
        <ion-col col-4><95%</ion-col>
        <ion-col col-4>{{data.low95_time}}</ion-col>
        <ion-col col-4>{{data.low95_time_per}}%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4><90%</ion-col>
        <ion-col col-4>{{data.low90_time}}</ion-col>
        <ion-col col-4>{{data.low90_time_per}}%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4><85%</ion-col>
        <ion-col col-4>{{data.low85_time}}</ion-col>
        <ion-col col-4>{{data.low85_time_per}}%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4><80%</ion-col>
        <ion-col col-4>{{data.low80_time}}</ion-col>
        <ion-col col-4>{{data.low80_time_per}}%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4><70%</ion-col>
        <ion-col col-4>{{data.low70_time}}</ion-col>
        <ion-col col-4>{{data.low70_time_per}}%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4><60%</ion-col>
        <ion-col col-4>{{data.low60_time}}</ion-col>
        <ion-col col-4>{{data.low60_time_per}}%</ion-col>
      </ion-row>
    </ion-grid>
    <hr/>
    
    <ion-grid>
      <ion-label>
      <h3>Sleep Apnoea Index</h3>
      </ion-label>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-3>>=4%</ion-col>
        <ion-col col-3>>=3%</ion-col>
        <ion-col col-3>>=2%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>Dips</ion-col>
        <ion-col col-3>{{data.dips4}}</ion-col>
        <ion-col col-3>{{data.dips3}}</ion-col>
        <ion-col col-3>{{data.dips2}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>Dips/Hr</ion-col>
        <ion-col col-3>{{data.dips4_hr}}</ion-col>
        <ion-col col-3>{{data.dips3_hr}}</ion-col>
        <ion-col col-3>{{data.dips2_hr}}</ion-col>
      </ion-row>
    </ion-grid>
    <hr/>
  <div id="spo2-chart" style="width:100%;"></div>

</ion-content>
