<ion-header no-border>
  <ion-navbar color="danger">
    <ion-title>设置</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--<p> {{ cfg.localAppVersion }} </p>
  <p> {{ ble.currentDeviceId }} </p>
  <p> {{ ble.fwVersion }} </p>-->

<ion-card>
  <ion-card-header>
    App版本信息:
  </ion-card-header>

  <ion-list>
    <ion-item>
        {{ cfg.localAppVersion }}
      <button (click)="checkAppUpdate()" [disabled]="appDownloadLog" ion-button clear item-right> {{ appDownloadLog || '检查更新' }} </button>
      <!--<button (click)="checkAppUpdate()" *ngIf="appDownloadLog" ion-button clear item-right>{{ appDownloadLog }}</button>-->
    </ion-item>
  </ion-list>
</ion-card>

<ion-card>
  <ion-card-header>
    设备固件版本信息：
  </ion-card-header>
  <ion-card-content>
    <p>{{ ble.currentDevice ? 'Name: ' + ble.currentDevice.name + '   Mac: ' + ble.currentDeviceId : '未连接' }}</p>
    <p>{{ ble.fwVersion }}</p>


  </ion-card-content>

  <ion-row>
    <ion-col>
      <button (click)="chooseDfuFile()" [disabled]="!ble.currentDevice" ion-button icon-left clear small>
        <div>选择本地固件</div>
      </button>
    </ion-col>
    <ion-col>
      <button (click)="startDfu()" [disabled]="!totalPack" ion-button icon-left clear small>
        <div>开始升级</div>
      </button>
    </ion-col>
  </ion-row>
</ion-card>

  <!--<button ion-button (click)="chooseDfuFile()">选本地dfu文件</button>
  <button ion-button (click)="startDfu()" [disabled]="!totalPack">开始dfu</button>
  <button ion-button [disabled]="!ble.currentDevice" (click)="disconn()">断开戒指</button>
  <button ion-button (click)="cmdExec('0xE2')">Reset</button>
  <button ion-button (click)="logout()">退出登录</button>-->

    <!--<ion-grid>
      <ion-row>
        <button ion-button color="{{btnLog ? 'primary' : 'dark'}}" (click)="logSwitch(btnLog)">{{btnLog ? '开log' : '关log'}}</button>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row *ngIf="toogleLogMatlab">
        <ion-col width-70>
          <ion-item>
            <ion-label color="primary" stacked>Matlab IP</ion-label>
            <ion-input type="text" [(ngModel)]="matlabIp"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col width-30>
          <ion-item>
            <ion-label color="primary" stacked>Port</ion-label>
            <ion-input type="text" [(ngModel)]="matlabPort"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col width-50>
          <ion-item>
            <ion-label>File log</ion-label>
            <ion-toggle [(ngModel)]="toogleLogFile"></ion-toggle>
          </ion-item>
        </ion-col>

        <ion-col width-50>
          <ion-item>
            <ion-label>Matlab</ion-label>
            <ion-toggle [(ngModel)]="toogleLogMatlab"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>-->

    <ion-row>
      <span>
        {{log}}<br>
        {{rawdataFullPath}}
      </span>
      <span>{{dfuLog}}</span><br>
    </ion-row>

</ion-content>
