page-spo-home {
    ion-row {
        text-align: center;
    }
    .o2-title {
        color: #ff0000
    }
    .pr-title{
        color: #387ef5
    }
    .pr-title, .o2-title {
        margin-top: 5px;
        text-align: center;
    }

    .value-size{
        font-size: 40px
    }

    .chart-block{
        margin-left: 3%;
        margin-right: 3%;
        background-color: rgba(#ecf0f1, 1);
        width: 94%;
        height: 200px;
        // min-height: 150px;

        #chart_pr, #chart_o2{
            width: 100%;
            height: 200px;
        }

    }
    .btn-ctrl{
        width: 30%;
        height: 50px;
        font-size: 18px
    }
}
