<ion-header no-border>
  <ion-navbar color="danger">
    <!-- <ion-title>ZG-C11E(F)</ion-title> -->

    <ion-buttons end>
      <!--<button ion-button icon-only (click)="openScan()">
        <ion-icon name="bluetooth"></ion-icon>
      </button>-->

      <button *ngIf="!ble.isScanning" ion-button icon-only>
        <ion-icon name="link"></ion-icon>
      </button>
      <button *ngIf="ble.isScanning" ion-button icon-only>
        <ion-spinner name="bubbles" color="light"></ion-spinner>
      </button>

      <button ion-button icon-only (click)="openUpdate()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <!--<ion-fab left top>
    <button (click)="liveSwitch('on')" [disabled]="!ble.currentDevice"
    *ngIf="!isLiving" ion-fab color="danger">实时查看</button>

    <button (click)="liveSwitch('off')" [disabled]="!ble.currentDevice"
    *ngIf="isLiving" ion-fab color="dark">关闭实时</button>
  </ion-fab>-->

  <div class="o2-title">
    <span>SpO2(%)</span><br>
    <span class="value-size">{{o2Value || 0}}</span>
  </div>

  <div class="chart-block">
    <div id="chart_o2"></div>
  </div>

  <div class="pr-title">
    <span>PR(bpm)</span><br>
    <span class="value-size">{{hrValue || 0}}</span>
  </div>

  <div class="chart-block">
    <div id="chart_pr"></div>
  </div>
  
  <!--<div style="text-align:center; padding-top:6px ">
    <button (click)="changeRunningStatus()" *ngIf="runningStatus === 'running-prepare'" [disabled]="!ble.currentDevice" class="btn-ctrl" ion-button color="danger">开始监测</button>
    <button (click)="changeRunningStatus()" *ngIf="runningStatus === 'running-running'" [disabled]="!ble.currentDevice" class="btn-ctrl" ion-button color="dark">结束监测</button>
  </div>-->
  
</ion-content>
